footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto auto auto auto;
  
  .contactoFooter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 20rem;
    padding-left: 10px;

    p {
      text-decoration: none;
      font-size: 1rem;
     
    }
   
  }
  .iconoWpp {
    width: 30px;
  }
}
