body {
  header {
    width: 100vw;
    display: grid;
    grid-template-columns: 15% 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "imgBurguer" "containerTitle"
                             "menuBurguer" ;
    display: flex;
    position: sticky;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: red;
    div {
        width: fit-content;
        .imgBurguer {
          width: 46px;
          
        }
      }
    .containerTitle {
      width: 100vw;
      display: flex;
      padding-left: 7px;
      a {
        h1 {
          font-weight: 1000;

        }
      }
    }
    
    .menuBurguer {
      width: 100vw;
      height: 2rem;
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
      align-items: center;

      .menuList {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;               
        word-spacing: rem;
        list-style-type: none;
       
        
        li {
            justify-items: center;
            align-content: center;
            padding: 6px;
        
        }
      }
    }
  }
}
