body {
  header {
    background-color: #F2F2F2;
    width: 100vw;
    display: flex;
    position: sticky;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    

    .containerTitle {
      width: 100vw;
      padding-left: 7px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      align-items: center;

      margin-top: 1rem;
      margin-left: 11rem;
      h1 {
        font-weight: 1000;
      }
      @media (max-width: 320px) {
        padding-left:0px;
        margin-top: 1rem;
      margin-left: 1rem
  
      }

     
    }

    .menuBurguer {
      width: 100vw;
      height: 2rem;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 11rem;
      @media (max-width: 320px) {
        margin-left: 1rem;
      }

      .menuList {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        word-spacing: 0.3rem;
        list-style-type: none;

        li {
          justify-items: center;
          align-content: center;
          padding: 6px;
        }
      }
    }
  }
}
